body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.profile-box {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
